* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    height: 70px;
    padding: 10px;
    background-color: #2E3A46;
    overflow-x: hidden;
}
header img {
    width: 50px;
}


/* main */


main {
    background-color: #1E2D3B;
    height: calc(100vh - 70px); 
    overflow-x: hidden;
}

.container-60 {
    width: 60%;
    margin: auto;
}

/* cards */

.cards {
    height: 100%;
    background-color: #2E3A46 !important;
}

/* footer */


